<div class="cotainer container-fluid ">
  <div class="row">
    <div class="col-lg-2">
      <div class="list-group categories mt-3 mb-3">
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 1</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 2</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 3</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 4</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 5</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 6</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 7</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 8</a>
          <a href="#" class="list-group-item list-group-item-action text-light">Категория 9</a>
        </div>
      </div>
      <div class="col-lg-10 mt-3">
          <div *ngIf="regMode()"  class="row justify-content-center">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
          </div>
      </div>
  </div>
</div>



