<div class="container mt-5">
  <div class="row">
    <div  class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
   <div class="col-lg-12 text-center">
     <form #editForm="ngForm" id="editForm" (ngSubmit)="editCategory()" >
       <h2 class="text-center text-primary text-dark">Редактирование наименования категории</h2><hr>
       <div class="form-group">
         <input type="text" class="form-control" required name="name" [(ngModel)]="category.name" placeholder="Введите название категории:">
       </div>
     </form>
     <div class="form-group">
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success mr-1">Изменить</button>
      <button class="btn btn-secondary ml-1" type="button" (click)="back()">Назад</button>
    </div>
   </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
    <h2 class="text-center text-primary text-dark">Редактирование фото категории</h2><hr>
  </div>
  <div class="col-lg-6 text-center upload">
    <app-photocategory-editor [photocategory]="category.photoUrl"></app-photocategory-editor>
  </div>
  <div class="col-lg-6 upload ">
    <div class="row mt-3">
 
      <div class="col-md-4 text-center">
  
          <h5>Выбор файла:</h5>
  
          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="card bg-faded p-3 text-center mb-3 my-drop-zone">
               <i class="fa fa-upload fa-3x"></i>
               Перетащить фото сюда
          </div>
  
         <!-- Multiple
          <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/> -->
  
          <input type="file" class="upload-btn btn" ng2FileSelect [uploader]="uploader" />
      </div>
  
      <div class="col-md-8" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
  
          <h3>Загрузка файла:</h3>
          <p>Количество: {{ uploader?.queue?.length }}</p>
  
          <table class="table">
              <thead>
              <tr>
                  <th width="50%">Имя:</th>
                  <th>Размер</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              </tr>
              </tbody>
          </table>
  
          <div>
              <div>
                  Прогресс загрузки:
                  <div class="progress mb-4" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
              <button type="button" class="btn btn-success btn-s mr-1"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="fa fa-upload"></span> Загрузить
              </button>
              <!--<button type="button" class="btn btn-warning btn-s mr-1"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                  <span class="fa fa-ban"></span> Отмена
              </button> -->
              <button type="button" class="btn btn-danger btn-s"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="fa fa-trash"></span> Удалить
              </button>
          </div>
  
      </div>
  
  </div>
  </div>
</div>
 </div>
