<div class="card mb-4">
  <div class="card-img-wrapper p-1">
    <img src="{{product.photoUrl}}" alt="{{product.productName}}" class="card-img-top">
    <ul class="list-inline prod-icons animate text-center">
      <li class="list-inline-item"><button [disabled]="isPay()" class="btn btn-dark">Купить<i class="fa fa-shopping-cart ml-1"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-dark" [routerLink]="['/categories/', product.categoryId, product.id]">Описание<i class="fa fa-eye ml-1"></i></button></li>
    </ul>
  </div>
  <div class="card-body m-1 bg">
    <h5 class="card-title text-center text-white ">{{product.productName}}</h5>
    <div class="text-center">
      <h6 class="card-text d-inline text-white pr-1">Цена - {{product.cost}} грн.</h6>
      <p *ngIf="isAv()" class="card-text pl-1 d-inline {{textColor}}"><i class="fa fa-{{icon}}"></i>{{isAvText}}</p>
  </div>
   <!--<p class="card-text text-center"><strong>Минимальный заказ - {{product.minQuantity}}</strong></p>--> 
  </div>
</div> 