.btn{
    background-color: black;
    width: 100%;
}
.card{
    border: 4px solid black;
}

.card-img-top{
    border: 1px solid black;
    max-height: 600px;
}

.card-img-wrapper:hover img {
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}
