.btn{
    background-color: black;
    width: 100%;
}
.card{
    border: 4px solid black;
}
.card-img-top{
    border: 1px solid black;
}

/*.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}*/
.card-img-wrapper {
    overflow: hidden;
}
.card:hover a {
    transform: scale(1.02, 1.02);
    transition-timing-function: ease-out;
}

.card a {
    transform: scale(1.0, 1.0);
    transition-timing-function: ease-out;
}